
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    margin: auto;
    font-family: -apple-system,BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient( 315deg, rgba(101,8,94,1)3%, rgba(60,132,206,1)38%, rgba(48,238,226,1)68%, rgba(255,25,25,1)98% );
    animation: gradient 15s ease infinite;
    background-size: 400%400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0%0%;
    }

    50% {
        background-position: 100%100%;
    }

    100% {
        background-position: 0%0%;
    }
}

.wave {
    background: rgb(255 255 255/25%);
    border-radius: 1000%1000%00;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0,0,0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}
    .wave:nth-of-type(2) {
        bottom: -1.25em;
        animation: wave 18s linear reverse infinite;
        opacity: 0.8;
    }
    .wave:nth-of-type(3){
        bottom: -2.5em;
        animation: wave 20s -1s reverse infinite;
        opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translate(1);
    }
}




.container {
padding: 1rem 1.5rem;
border: 1px solid black;
width: 350px;
background-color: mediumpurple;
}

h2 {
text-align: center;
padding: 15px 0;
}


.option {
display: flex;
justify-content: space-between;
padding: 4px;
}
.result__container {
height: 50px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid black;
padding: 0 5px;
}

.result-container #result {
word-wrap: break-word;
max-width: calc(100% - 40px);
}

.result__container #copy {
height: 40px;
width: 40px;
background-color: midnightblue;
color: black;
border: none;
cursor: pointer;
outline: none;
}

.result__container #copy:hover {
background-color: cadetblue;
color: cadetblue;
}

#generate {
height: 40px;
width: 100%;
border-radius: 10px;
border: none;
background-color: #0b132b;
color: #ffffff;
font-size: 15px;
font-weight: bold;
cursor: pointer;
outline: none;
}
#generate:hover {
background-color: #5bc0be;
color: #ffffff;
}
